body {text-align: left;
    COLOR:rgb(0, 0, 0);
font-family: impact;
font-size: 20px ; 
background-color: rgb(255, 255, 255); 
padding : 100px;}
h1 {text-align: center;
    color:white;
font-family: impact;
font-size: 50px ; 
background-color: brown; 
padding: 100px;
}
.container-1{
    display: flex;}
.container-2{
    display: flex;
    justify-content: space-between;
 }}
 .container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .container-1 div, 
 .container-2 div, 
 .container-3 div{
     border: 1px #ccc solid; padding:10px;
 }

 .container-2-box{
     flex-basis: 80%;}
 .container-3-box{
     flex-basis: 12%;}
 
 .box-1{
     flex: 1;
     order: 1;}
 .box-2{
     flex: 1; 
     order: 2;}
 .box-3{
     flex: 1;
     order: 3;
 }